@use "../../styles/mixins" as*;

.exercise-detail {
  padding: 10rem 2rem 2rem 2rem;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #c2bfbf 0%, rgba(255, 255, 255, 0) 71.88%), #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: center;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 4rem;
  padding-inline: 1rem;
  position: relative;
  width: 100%;
  min-height: 100vh;

  &__page{

      @include tablet{
  margin-inline: 12rem;
  }
  }
  &__title {
    margin-bottom: 1rem;
  }

  &__description,
  &__difficulty,
  &__category {
    margin-bottom: 1rem;
  }

  &__body-parts {
    margin-bottom: 1rem;
  }

  &__details {
    margin-bottom: 1rem;
  }

  &__images {
    margin-top: 1rem;

    &-title {
      margin-bottom: 0.5rem;
    }
  }

  &__image {
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 4px;
  }

  &__back-link {
   display: inline-block;
    color: #1b62ad;
    text-decoration: none;
    margin: 0 0.5rem;
    transition: color 0.3s, transform 0.6s ease;


    &:hover {
      color: black;
      transform: scale(1.1);
    }
  }

  &__loading,
  &__error,
  &__not-found {
    text-align: center;
    font-size: 1.2rem;
    margin: 2rem 0;
  }

  &__error {
    color: red;
  }
}