.client-workout-setup {
  padding: 11rem 2rem 16.8rem 2rem;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #c2bfbf 0%, rgba(255, 255, 255, 0) 71.88%), #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: center;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 4rem;
  padding-inline: 1rem;
  position: relative;
  width: 100%;
  min-height: 100vh;
  
  &__title {
    margin-bottom: 1.5rem;
  }

  &__days-selector {
    margin-bottom: 1.5rem;
  }

  &__days-title {
    margin-bottom: 0.5rem;
  }

  &__day-label {
    margin-right: 1rem;
    font-size: 1rem;
  }

  &__divider {
    margin: 1.5rem 0;
    border: none;
    border-top: 1px solid #ccc;
  }

  &__workout-container {
    margin-bottom: 1.5rem;
  }

  &__workout-title {
    margin-bottom: 1rem;
  }

  &__loading {
    font-style: italic;
  }

  &__error {
    color: red;
  }

  &__empty {
    font-style: italic;
  }

  &__workout-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__workout-item {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__workout-info {
    flex-grow: 1;
  }

  &__workout-exercise {
    margin: 0 0 0.5rem;
  }

  &__workout-details {
    margin: 0;
  }
}

.round-progress-tracker {
  cursor: pointer;
}