@use "../../styles/mixins" as*;

.physio-messaging {
  display: flex;
  height: 80vh;
  padding: 1rem;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #c2bfbf 0%, rgba(255, 255, 255, 0) 71.88%), #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: center;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 4rem;
  padding-inline: 1rem;
  position: relative;
  width: 100%;
  min-height: 100vh;

  &__clients-panel {
    flex: 1;
    border-right: 1px solid #ccc;
    padding-right: 1rem;
  }

  &__clients-title {
    margin-bottom: 1rem;
  }

  &__no-clients {
    font-style: italic;
  }

  &__client-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__client-item {
    padding: 0.5rem;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s;

    &--selected {
      background-color: #f0f0f0;
    }
  }

  &__conversation-panel {
    flex: 2;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    @include tablet{
      margin-right: 4rem;
    }
    @include desktop{
      margin-right: 8rem;
    }
  }

  &__conversation-title {
    margin-bottom: 1rem;
  }

  &__messages-container {
    flex: 1;
    border: 1px solid #ccc;
    padding: 1rem;
    overflow-y: auto;
    margin-bottom: 1rem;
  }

  &__no-messages {
    font-style: italic;
  }

  &__message {
    margin-bottom: 0.5rem;
  }

  &__input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__input {
    width: 100%;
    padding: 0.5rem;
  }

  &__send-button {
  padding: 5px 30px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
  }

  &:hover::after {
    transform: scale(4);
  }

  &:hover {
    border-color: #666666;
    background: #292929;
  }
  }

  &__error {
    color: red;
    margin-top: 1rem;
  }
}