.client-messaging {
  height: 80vh;
  padding: 1rem;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #c2bfbf 0%, rgba(255, 255, 255, 0) 71.88%), #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: center;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 4rem;
  padding-inline: 1rem;
  position: relative;
  width: 100%;
  min-height: 100vh;

  &__heading {
    margin-bottom: 1rem;
  }

  &__messages {
    border: 1px solid #ccc;
    padding: 1rem;
    height: 60vh;
    overflow-y: auto;
    margin-bottom: 1rem;
  }

  &__message {
    margin-bottom: 0.5rem;
  }

  &__input-container {
    display: flex;
    align-items: center;
  }

  &__input {
    width: 80%;
    padding: 0.5rem;
  }

  &__send-button {
    padding: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
  }

  &__error {
    color: red;
    margin-top: 1rem;
  }
}